body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(51, 46, 46);
 
}


ul{
  display: flex;
  justify-content: none;
  font-size: 16px;
  list-style-type: none;
  height: 30px;
 background-color: #077079;;
}
a{
padding-top: 30px;
  padding-right: 30px;
  color: antiquewhite;
  text-decoration: none;
  
}
.tema{
  display: flex;
  justify-content: center;
  color: antiquewhite;
}
.totopico1{
  margin: 50%;
  padding-left: 30x;

}
div img{
  width: 600px;
  height: 300px;
}
.menu
{
width: 650px;
padding-left: 50px;
color: antiquewhite;
}
footer img{
  width: 20px;
  height: 20px;
  text-align: center;
}
footer{
  display: flex;
  justify-content: center;
  width: 700px;
}

 footer a{
  margin: 15px;
  text-align: center;
  color: antiquewhite;
 }
 footer p{
  margin-top: 2px;
  font-size: 12px;
 }
 nav a:hover {
   color: #5BBE42;
 }
 
 .inf{
  font-size: 15px;
  padding-top: 100px;
  color: #5BBE42;
 width: 700px;
 text-align: center;
 }